body {
    background: rgb(255, 229, 212);
    font: normal 15pt Arial;
    font-family: sans-serif;
}
header {
    color: white;
    text-align: center
}
section {
    background: rgb(253, 196, 173);
    border-radius: 9px;
    padding: 15px;
    width: 400px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.322);
}
footer {
    color: rgba(71, 33, 2, 0.938);
    text-align: center;
    font-style: italic
}

Notes:
 Defaut colors: rgba(241, 197, 171, 0.973)
                rgba(71, 33, 2, 0.938)
                
